* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.app {
  min-height: 100vh;
  color: #495057;
  font-weight: 400;
  overflow-x: hidden;

  @apply flex flex-col font-inter;
}

.content {
  @apply flex-1 bg-gray-50;
}
